{% extends 'bring/base.html' %}
{% load static %}

{% block title %}BRING | Пісок, Щебінь, Відсів, Шлак, Чернозем, Перегній - Доставка{% endblock %}

{% block content %}
    <footer>

        <div id="block-for-slider">
        <div id="viewport">
            <ul id="slidewrapper">
                    {% for banner in banners %}
                        <li class="slide"><a href="{{ banner.target }}"><img src="{{ banner.banner.url }}" title="{{ banner.description }}" class="slide-img"></a></li>
                        <li class="slide-mini"><a href="{{ banner.target }}"><img src="{{ banner.banner_mini.url }}" title="{{ banner.description }}" class="slide-img-mini"></a></li>
                    {% endfor %}
            </ul>

            <div id="prev-next-btns">
                <div id="prev-btn"><img src="{% static 'bring/img/left.png' %}" class="prev-btn-img"></div>
                <div id="next-btn"><img src="{% static 'bring/img/right.png' %}" class="next-btn-img"></div>
            </div>

            <ul id="nav-btns">
                {% for banner in banners %}
                    <li class="slide-nav-btn"></li>
                {% endfor %}
            </ul>

        </div>
    </div>

        <div class="stuffs-block">
            {% for stuff in stuffs %}
                <div class="stuff">

                    {% if user.is_authenticated %}
                        <form action="{% url 'bring:stuff-fan' stuff.id %}" method="POST" id="favorite{{ stuff.id }}">
                        {% csrf_token %}
                        {% if stuff in user.favs.all %}
                            <div class="favorite"><img src="{% static 'bring/img/heart-yellow.png' %}" class="favorite-img"></div>
                        {% else %}
                            <div class="favorite"><img src="{% static 'bring/img/heart-border-yellow.png' %}" class="favorite-img"></div>
                        {% endif %}
                        </form>
                    {% else %}
                    <a data-bs-toggle="modal" data-bs-target="#login-ajax"><div class="favorite">
                        <img src="{% static 'bring/img/heart-border-yellow.png' %}" class="favorite-img">
                    </div></a>
                    {% endif %}


                        <div class="stuff-img-block"><a href="{{ stuff.get_absolute_url }}"><img src="{{ stuff.picture.url }}" class="stuff-img"></a></div>
                        <div class="stuff-title"><a href="{{ stuff.get_absolute_url }}">{{ stuff }}</a></div>
                        {% if stuff.comments.count > 0.0 %}
                            <div class="stuff-rating">Рейтинг: {{ stuff.rating }} <a href="{{ stuff.get_absolute_url }}">(Відгуків: {{ stuff.comments.count }})</a></div>
                        {% endif %}
                        <div class="stuff-comment-now"><a href="{{ stuff.get_absolute_url }}">Залишити відгук</a></div>
                        <div class="stuff-price">
                            {% for i in stuff.packing %}
                                {% if i.price > 0.0 %}
                                    Ціна: {{ i.price }} грн. за {{ i.short_unit_packing }}({{ i.method_of_packing }}) <br>
                                {% endif %}
                            {% empty %}
                            <a href="#">Ціну уточнювати за телефоном</a>
                            {% endfor %}
                        </div>
                        <div class="order-now">Замовити зараз | Додати до кошику</div>

                </div>
            {% endfor %}
        </div>
        
    </footer>


{% endblock %}