{% extends 'bring/base.html' %}
{% load static %}

{% block title %}BRING | Авторизація{% endblock %}

{% block content %}
    <footer>
        <div class="h-footer">
            <h2 style="margin-top: 1.5%;">Увійти</h2>

        </div>
        



        <form method="post">
            {% csrf_token %}
            
            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
                <p><label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}

            <button type="submit">Увійти</button>
        </form>



        <h6><a href="{% url 'bring:registration-user' %}">Реєстрація</a></h6>
        <h6><a href="{% url 'bring:password_reset' %}">Сброс пароля</a></h6>

        
        
    </footer>

{% endblock %}