<div class="modal fade" id="login-ajax" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Увійти</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="alert alert-danger d-none" role="alert"></div>

      <form action="{% url 'bring:login-ajax' %}" method="POST" id="form_ajax_login">
        <div class="modal-body">

          {{ login_ajax }}
          {% csrf_token %}

        </div>
        <div class="href-modal">
          <a class="href-modal-a">Відновити пароль</a><br>
          <a class="href-modal-a" data-bs-toggle="modal" data-bs-target="#registration-ajax" data-bs-dismiss="modal">Зареєструватися</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Вход</button>
        </div>
      </form>

    </div>
  </div>
</div>