{% extends 'bring/base.html' %}
{% load static %}

{% block title %}BRING | Пошук {{ search_str }}{% endblock %}

{% block content %}
    <footer>
        <div class="h-footer">
            <h2 style="margin-top: 1.5%;">Результати пошуку за Вашим запитом: {{ search_str }}</h2>
        </div>
    

        <div class="stuffs-block">
            {% for stuff in search_list %}
                <div class="stuff">

                    {% if user.is_authenticated %}
                        <form action="{% url 'bring:stuff-fan' stuff.id %}" method="POST" id="favorite{{ stuff.id }}">
                        {% csrf_token %}
                        {% if stuff in user.favs.all %}
                            <div class="favorite"><img src="{% static 'bring/img/heart-yellow.png' %}" class="favorite-img"></div>
                        {% else %}
                            <div class="favorite"><img src="{% static 'bring/img/heart-border-yellow.png' %}" class="favorite-img"></div>
                        {% endif %}
                        </form>
                    {% else %}
                    <a data-bs-toggle="modal" data-bs-target="#login-ajax"><div class="favorite">
                        <img src="{% static 'bring/img/heart-border-yellow.png' %}" class="favorite-img">
                    </div></a>
                    {% endif %}

                        <div class="stuff-img-block"><a href="{{ stuff.get_absolute_url }}"><img src="{{ stuff.picture.url }}" class="stuff-img"></a></div>
                        <div class="stuff-title"><a href="{{ stuff.get_absolute_url }}">{{ stuff }}</a></div>
                        {% if stuff.comments.count > 0.0 %}
                            <div class="stuff-rating">Рейтинг: {{ stuff.rating }} <a href="{{ stuff.get_absolute_url }}">(Відгуків: {{ stuff.comments.count }})</a></div>
                        {% endif %}
                        <div class="stuff-comment-now"><a href="{{ stuff.get_absolute_url }}">Залишити відгук</a></div>
                        <div class="stuff-price">
                            {% for i in stuff.packing %}
                                {% if i.price > 0.0 %}
                                    Ціна: {{ i.price }} грн. за {{ i.short_unit_packing }}({{ i.method_of_packing }}) <br>
                                {% endif %}
                            {% empty %}
                            <a href="#">Ціну уточнювати за телефоном</a>
                            {% endfor %}
                        </div>
                        <div class="order-now">Замовити зараз | Додати до кошику</div>
                </div>
            {% endfor %}
        </div>
        
    </footer>

{% endblock %}